@CHARSET "UTF-8";

.ui-selectonemenu {
	width: 15% !important;
}

.ui-autocomplete-input.ui-inputfield {
	width: 100% !important;
}

.ui-tabs .ui-tabs-nav li {
	float: right !important;
}

html, body {
	margin: 0;
	height: 100%;
}
.ui-growl {
	left:20px;
}

/* #main {
	height: 100%;
	background: yellow;
}  */